.card {
    width: 50%;
    justify-content: center;
    float: left;
}

.titleNdate{
    display: inline-block;
}

.text-muted {
    font-size: small;
}

.btn {
    align-items: center;
    float: right;
}

.card-title {
    text-decoration: underline;
}

.card-body {
    padding-top: 7px;
    padding-bottom: 5px;
    text-align: center;
}