<div *ngIf="post">
  <div class="card mb-4">
    <div class="card-body">
      <div class="titleNdate">
        <h5 class="card-title mb-1">{{post.title}} </h5>
        <p class="text-muted date mb-0"><b>Author</b>: {{post.userName}}</p>  
        <p class="text-muted date mb-1"><b>Created in</b> {{post.releaseDate}}</p>  
      </div>
       <div class="justify-content-row">
      <p class="card-text">{{post.content}}</p>  
      <p class="text-muted date"><b>Replies: </b> {{post.countReplies}}</p>                 
      <a href="/post-detail" class="btn btn-primary">Go somewhere</a>   
    </div>
    </div>
  </div>
</div>